<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-container">
        <div class="modal-body">
            <form class="modal-form">
                <div class="input-area descricao">
                    <label class="form-label" for="descricao">account_balance</label>
                    <input class="form_control" type="text" placeholder="Nome da conta" name="Name"
                        [(ngModel)]="accounts.nome">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="modal-btnCancelar" (click)="d('Cross click')">Cancelar</button>
            <button type="button" class="modal-btnSalvar" (click)="createBankAccount()">Adicionar conta</button>
        </div>
    </div>
</ng-template>

<button type="button" (click)="open(content)" class="btn-actions">account_balance</button>